body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;

  background-image: url("http://data.hdwallpapers.im/skyrim_snowy_mountains.jpg");
  background-size: cover;
  background-attachment: fixed;
}
body, a:link, a:visited, a:active{
  color: lightblue;

}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:20px solid blue;
  border-radius:10px;
  position:absolute;
}

.orc{
  content:url("http://media.giphy.com/media/KWBHHKwJzkADe/giphy.gif");
  position:absolute;
  width : 70px;
  height: 90px;
}

.troll {
  content:url("https://38.media.tumblr.com/e4613739f15a5555e4fb4a86cfc556ee/tumblr_mu26k5W3io1so3sado1_r3_400.gif");
  position:absolute;
  width : 100px;
  height: 120px;
}

.beast {
  content:url("http://hydra-media.cursecdn.com/wow.gamepedia.com/c/c3/Bestiary_Thumb_Basilisk.gif");
  position:absolute;
  width : 200px;
  height: 110px;
}

.dwarf {
  content:url("http://vignette2.wikia.nocookie.net/wowwiki/images/e/e4/Dwarf_male250x.gif/revision/latest?cb=20120511203039");
  position:absolute;
  width : 140px;
  height: 140px;
}


#tower {
  content:url("http://pre00.deviantart.net/5431/th/pre/i/2014/254/2/5/castle_24_png_stock_by_jumpfer_stock-d7yt7td.png");
  position: absolute;
  width : 600px;
  height : 800px;
  top :200px;
  left :1000px;
}

#infobar {
  background-color : none;
  font-size: 30px;
  position: absolute;
  left: 700px;
  margin : center;
  color : black;
}